streamlit
pandas
openpyxl==3.1.5
numpy
pyarrow
pdfplumber
XlsxWriter
sqlalchemy
psycopg2-binary
pg8000           
xlrd
python-barcode 
Pillow 
streamlit-keyup
psutil
beautifulsoup4
requests
